.media-group {
margin-top: 10px;
}

.artist {
display: flex;
margin-right: 15px;
background: #231C1C;
width: 160px;
height: 250px;
flex-direction: column;
justify-content: start;
align-items: center;
color: white;
border-radius: 4px;

}

.artistImg {
 margin-top: 10px;
 width: 140px;
 border-radius: 5px;
  text-align: center;
}

.linkWrapper {

}

.artistInfo {
margin-top: 15px;
margin-left: 5px;
width: 135px;
font-size: 19px;
overflow: hidden;
display: inline-block;

white-space: nowrap;
text-overflow: ellipsis;
}

.title {
margin-top: 10px;
margin-left: 5px;
width: 135px;
display: inline-block;
}


