<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/artist.css">
</head>
<body>
<div class="container">
    <div class="flex-child hotDogBar">
        <div class="hotDogTop">
            <h1 class="">Music</h1>
            <a href="">Home</a>
            <a href="">Your Library</a>
        </div>

        <div class="hotDogBottom">
            <a href="">Create Playlist</a>
            <a href="">Liked Songs</a>
        </div>

    </div>
    <div id="content" class="flex-child"></div>
    <button id="user"></button>
</div>
</body>
<script src="/javascript/artistDetails.js"></script>
</html>