<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followed Artists</title>
    <link rel="stylesheet" href="/style/layout.css">
</head>
<body>
<div id="left" class="column">
    <nav class="navbar top-left top">
        <img src="assets\spotify-icons-logos\logos\02_CMYK\02_PNG\Spotify_Logo_CMYK_Green.png" class="small">
    </nav>
        <div class="sidebar bottom">
            <a class="sidechild" href="">Your Library</a>
            <a class="sidechild" href="">Create Playlist</a>
            <a class="sidechild" href="">Liked Songs</a>
        </div>
    <div class="">
        <h1>test</h1>
    </div>
    </div>
        <main id="right" class="column">
            <nav class="top-right top">
                <h1>Filler</h1>
            </nav>
            <div class="container bottom">
                <div id="content" class="flex-child"></div>
            </div>
            <div class="">
                <h1>test</h1>
            </div>
        </main>


</body>
<script src="/javascript/followedArtists.js"></script>
</html>