<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followed Artists</title>
    <link rel="stylesheet" href="/style/layout.css">
</head>
<body>
<div id="hotDogBar">
    <div class="hotDogTop">
        <h1 class="">Music</h1>
        <a href="">Home</a>
        <a href="">Your Library</a>
    </div>

    <div class="hotDogBottom">
        <a href="">Create Playlist</a>
        <a href="">Liked Songs</a>
    </div>

</div>
<div id="content"></div>
</body>
<script src="/javascript/followedArtists.js"></script>
</html>